.subscription {
  padding: 64px;
  background-color: var(--primary-color);
  background-image: url('../../assets/subscribe_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  overflow: hidden;
}

.subscription h2 {
  color: var(--color-white);
  font-family: var(--playfair-display);
  font-size: 88px;
  font-weight: 600;
  line-height: 123px;
  text-align: center;
}

.subscription p {
  color: var(--color-white);
  font-family: var(--plus-jakarta-sans);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 32px;
}

.subscription__form {
  min-width: 480px;
  margin-top: 40px;
  padding: 14px 14px 14px 24px;
  display: flex;
  gap: 10px;
  border: 1px solid var(--color-white);
  border-radius: 46px;
}

.subscription__form input {
  flex: 1;
  font-size: 16px;
  font-weight: 400px;
  font-family: var(--plus-jakarta-sans);
  color: var(--color-white);
  opacity: 0.5;
  border: none;
  outline: none;
  background: transparent;
}

.subscription__form input::placeholder {
  color: var(--color-white);
  opacity: 0.7;
}

.subscription__form button {
  padding: 20px;
  min-width: 180px;
  background-color: var(--color-creamson);
  border: none;
  border-radius: 46px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  cursor: pointer;
  text-align: center;
}
